# Configurações do Servidor
PORT=3000

# OpenAI Configuration
TYPE_IA="mock"
OPENAI_API_KEY=your_openai_api_key_here

# Trello Configuration
TRELLO_API_KEY=your_trello_api_key_here
TRELLO_TOKEN=your_trello_token_here
